<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Online Judge</h1>
    <p>Please Sign in if you have an account .</p>
    <a href="/auth/signin"> Sign In </a>
    <p>Don't have an account? Sign Up</p>
    <a href="/auth/signup"> Sign Up </a>
  </body>
</html>
